@page
@model IntroAulaWebApp.Pages.Enfermeiros.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Enfermeiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Name" class="control-label"></label>
                <input asp-for="Enfermeiro.Name" class="form-control" />
                <span asp-validation-for="Enfermeiro.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Rg" class="control-label"></label>
                <input asp-for="Enfermeiro.Rg" class="form-control" />
                <span asp-validation-for="Enfermeiro.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.CPF" class="control-label"></label>
                <input asp-for="Enfermeiro.CPF" class="form-control" />
                <span asp-validation-for="Enfermeiro.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Endereco" class="control-label"></label>
                <input asp-for="Enfermeiro.Endereco" class="form-control" />
                <span asp-validation-for="Enfermeiro.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Coren" class="control-label"></label>
                <input asp-for="Enfermeiro.Coren" class="form-control" />
                <span asp-validation-for="Enfermeiro.Coren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.DataAdmi" class="control-label"></label>
                <input asp-for="Enfermeiro.DataAdmi" class="form-control" />
                <span asp-validation-for="Enfermeiro.DataAdmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
